<%= form_with( model: @post, :html => {id: "posts-form"}) do |f| %>
	<div>
		<%= f.label :title, "Título del nuevo enlace (opcional)" %>
		<%= f.text_field :title %>
	</div>
	<div>
		<%= f.label :url, "URL" %>
		<%= f.text_field :url, required: true %>
	</div>
	<div>
		<%= f.submit "Crear url corta" %>
	</div>
<% end %>