<center>
	<h1>Onegai.stream</h1>
	<h4>
		<% if @post.empty_title %>
			<p>Quieres crear tu propia url? <%= link_to "Click aqui", root_path %></p>
		<% else %>
			<%= @post.title %>
		<% end %>
	</h4>
	<p>Visto <%= @post.counter %> veces</p>
	
	<% if @video_exist  %>
		<video src="<%= @post.url %>"></video>
	<% else %>
		<p><%= @post.url %></p>
	<% end %>
</center>
