<!DOCTYPE html>
<html>
  <head>
    <title>Onegaistream</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  </head>

  <body>
  	<header class="header main-center cross-center">
      <h1 class="header__title">
        <%= link_to "O.li", root_path, class: "header__link" %>
      </h1>
      <h2 class="header__subtitle">the best shortening of urls</h2>
    </header>
    
    <div class="main-container">
      <%= yield %>
    </div>

    <footer class="footer">
      <p>© 2018 Oli™</p>
    </footer>
  </body>
</html>
